.ui-avatar {
  align-items: center;
  background: var(--ui-color-gray-100);
  border-radius: var(--ui-radius-full);
  color: var(--ui-color-gray-700);
  display: inline-flex;
  font-family: var(--ui-font-family);
  font-weight: var(--ui-font-weight-semibold);
  justify-content: center;
  overflow: hidden;
}

.ui-avatar--sm {
  font-size: var(--ui-font-size-sm);
  height: 2rem;
  width: 2rem;
}

.ui-avatar--md {
  font-size: var(--ui-font-size-md);
  height: 2.5rem;
  width: 2.5rem;
}

.ui-avatar--lg {
  font-size: var(--ui-font-size-lg);
  height: 3rem;
  width: 3rem;
}

.ui-avatar__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
